@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

html{
    font-size: 15px;
    font-family: 'Montserrat','serif';
}

body{
  background-color: cornsilk;
}

a{
    text-decoration: none;
}

h1{
  align-items: center;
}
.container
{
min-height: 100vh;
width: 100%;
display:flex;
align-items: center;
justify-content: center;
}

.page-loader {
  position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}


#header  {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    background-color: transparent;
}

#header .header{
    min-height: 8vh;
}

#header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

#header .logo {
        margin: 15px 15px 15px 15px;
        width: 50%;
        top: 0px ;
        left: -70%;
        color: white;
        border-radius: 1px;
    
}

#header .nav ul{
    list-style: none;
    position: absolute;
    background-color:rgb(31, 30,30) ;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .3s ease left;
}

#header .nav ul.active{
    left:0%;
}

#header .nav ul a{
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav ul a:hover{
  color :crimson;
}
#header .nav ul a:active{
  color :crimson;
}

#header .nav ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    color: (240, 248, 255, 0.021);
    font-size: 3rem;
    letter-spacing: 50px;
    z-index: -1;
    opacity: 0.5;
    transition: .3s ease letter-spacing;
    position: absolute;
    

}

#header .nav ul li:focus:after,
#header .nav ul li:hover a::after{
    transform: translate(-50%,-50%) scale(1);
    letter-spacing: initial;
    
}


#header .icon {
  height: 60px;
  width: 60px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 1%;
  cursor: pointer;
  transform: scale(.8);
  transition: all 0.2s linear 0s;
}


#header .icon .bar, .bar1, .bar2 {
position: relative;
z-index: -1;
width: 55px;
height: 5px;
background-color: white;
margin: 10px 0;
transition: 0.4s;
}

#header .icon .bar {
-webkit-transform: rotate(-50deg) translate(-9px, 6px);
transform: rotate(-50deg) translate(-9px, 6px);
}

#header .icon .bar1 {
opacity: 0;
}

#header .icon .bar2 {
-webkit-transform: rotate(50deg) translate(-8px, -8px);
transform: rotate(50deg) translate(-8px, -8px);
}



#header .icon .bar::after
#header .icon .bar::before{
content: '';
position: absolute;
height: 100%;
width: 100%;
left:0;
background-color: red;
transition: .3s ease;
transition-property: top, bottom;

}


#header .icon .bar::after{
top: 8px;
}
#header .icon .bar::before{
bottom: 8px;
}

#header .icon.active .bar::before{
bottom: 0;
}

#header .icon.active .bar::after{
top: 0;

}











/** first background image section**/
#uppertrack .bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 60vh;
  background: url(images/1.jpg) no-repeat center center/cover;
}
#uppertrack video {
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
}
#uppertrack .overlay {
  width: 100%;
  height: 60vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0,0,0,.3) 10%, rgba(0,0,0,.7) 10%);
  background-size: 3px 3px;
  z-index: 2;
}
#uppertrack h1 {
  text-align: center;
  color: #fff;
  width: fit-content;
  position: absolute;
  font-size: 2rem;
  top: -3;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 20px;
  z-index: 3;
  width: 100%;
  height: 50px;
  animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: initial;
    animation-fill-mode: none;
    animation-play-state: running;
}

#uppertrack{
    background-image: url(images/1.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}


#uppertrack::after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .9;
    z-index: -7;
}



/* keyframe for h1*/

    @keyframes stretch {
        0% {
          transform: scale(.3);
          background-color:transparent;
          color: crimson;
          border-radius: 100%;
        }
  }

  
/* css for button*/


/* keyframe for heading*/
.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(rgba(0,0,0,.2));
    font-size: 60px;
  }
  .waviy span {
    /*font-family: 'Alfa Slab One', cursive;*/
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 3s ease-in-out;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%{
      transform: translateY(0);
      background-color:transparent;
      color: crimson;
      
    }
    20% {
      transform: translateY(-20px);
      background-color:transparent;
      color: white;
    }
    40%,100% {
        transform: translateY(-0px);
        background-color:transparent;
        color: white;
    }
  }

  @media only screen and (max-width : 768px){
    .container{
        width: 100%;

    }
    #uppertrack{
        background-image: url(images/1.jpg);
        background-size: cover;
        background-position: top center;
        position: relative;
    }
    
    
  }

/* about section */

#about{
  color: black;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}


#about .about{
flex-direction: column-reverse;
text-align: center;
padding: 100px 20px;
}

#about .about-left{
  width: 100%;
  height: 100%;
  }

#about .about-right {
  margin-top: 10px;
    width: 100%;  
}

#about img{
  width: 100%;
  height: auto;
  margin-top:30px;
  margin-right: 10px;
}

  #about .about-right h2{
    font-size: 1.8rem;
    font-weight: 500; 
    letter-spacing: .2rem;
    margin-bottom: 10px;
  }

  #about .about-right p{
    margin-bottom: 20px;
  }

  #about .about-right .button1{
    color:white;
    border: 3px solid rgba(212, 88, 30, 0.11);
    padding: 5px;
    border-radius: 7px;
    background-color: rgb(185, 149, 149);
    font-size: 1 rem;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 50px;
    transition: .3s ease background-color;
}

#about .about-right .button1:hover{
    color: white;
    background-color: crimson;
    border: 3px solid crimson;
}

#about .about-left .about-img {
  position: relative;
}

#about .about-left .about-img::after{
content: '';
position: absolute;
left: -7px;
top: 20px;
height: 98%;
width: 78%;
border:  5px solid crimson;
z-index: -1;
-webkit-transition: 0.4s ease;
transition: 0.4s ease;
}


#about .about-left .about-img img:hover{
-webkit-transform: scale(1.08);
transform: scale(1.08);
}



/* about section */

/* registration section */

#registration {
  border-radius: 15px solid crimson;
  justify-content: center; 
  text-align: center;
  justify-content: center

}
#registration .registration h1{
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: black;
  margin-bottom: 20px;
  
}

#registration .register{
  align-items: center;
  justify-content: center;
}

#registration .login{
  align-items: center;
  justify-content: center;
}

#registration .register input{
  width:100%;
  border:2px solid #aaa;
  border-radius:4px;
  margin:8px 0;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition:.3s;
}

#registration .register input:focus{
  border-color:crimson;
  box-shadow:0 0 8px 0 crimson;
}

#registration .login input{
  width:100%;
  border:2px solid #aaa;
  border-radius:4px;
  margin:8px 0;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition:.3s;
}

#registration .login input:focus{
  border-color:crimson;
  box-shadow:0 0 8px 0 crimson;
}


/* registration section */


/* Climate section */

#Climate{
  background-color: turquoise;
  color:white;
}
div.Climate-title{
	color: #fff;
	background-color: #2f9b9b;
	
	width: auto;
	height: 300px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	font-family: 'Ubuntu', sans-serif;
}


.Climate-content {
	position: absolute;
	bottom:0;
	right: 100;
	top: 0;
	margin: auto;
	padding: 0 4em;
	z-index: 6;
	height: 3em;
	transition: all .2s ease;
  flex: 1 1 auto;
}

.Climate-title:hover .Climate-content {
	height: 8em;
  object-fit: cover;
  text-overflow: inherit;
	transition: all .2s ease;
}

.Climate-content img{
  visibility: hidden;
}

.Climate-title:hover .Climate-content img {
  height: 100%;
  width: 100%;
  opacity: 1;
	visibility: visible;
  transition: all .2s ease;
}

.Climate-title h2 {
	font-size: 2em;
	font-weight: normal;
	margin: 0 0 5px 0;
}

.Climate-title p {
	height: 0;
	opacity: 0;
	visibility: hidden;
	margin: 5px;
	line-height: 1.5em;
	
}

.Climate-title:hover p{
	height: 3em;
	opacity: 1;
	visibility: visible;
  transition: all .2s ease;
}

.link {
	height: 1.5em;
	line-height: 1.5;
	transition: all .2s ease;
	display: block;
	font-size: 0.85em;
	font-style: italic;
}

.Climate-title:hover .link {
	transition: all .2s ease;
}

/* Climate section */


/* footer section */

#footer  {
    background-color: white;
    color: black;
}

#footer .container  {  
    min-height: 10vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}



#footer .footer-left{
    width: 100%;
    height: 10vh;
    align-items: center;
    display:flex;
    justify-content: center;
    font-size: 1rem;
}

#footer .footer-right{
    width: 100%;
    height: 10vh;
    align-items: center;
    display:flex;
    justify-content: center;
    font-size: 1rem;
}


/** desktop view **/

@media screen and (min-width: 1000px) {
     
    #header .icon{
        display: none;
    }

  
    #header  {
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: auto;
      background-color: transparent;
    }
    #header .header{
      min-height: 8vh;
    }

    #header .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

  
    #header  .nav ul{
        margin: 0;
        padding: 0;
        position: initial;
        display: block;
        width: fit-content;
        background-color: transparent;
        height: 100%;
    }
    
    #header  .nav ul li{
        display: inline-block;
        list-style-type: none;
    }
    

    #header .nav ul a::after{
        content: attr(data-after);
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(50%,50%) scale(0);
        color: (240, 248, 255, 0.021);
        font-size: 3rem;
        letter-spacing: 1rem;
        z-index: 1;
        opacity: 0.5;
        transition: .3s ease letter-spacing;
        
    }
    
    #header .nav ul li:focus:after,
    #header .nav ul li:hover a::after{
    letter-spacing: initial;
    color: crimson;
    -webkit-transition: color 2s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
    outline: 2;
    } 
     
    /* about section */

    #about .about{
      flex-direction: row;
    }

    #about  .about-right{
      text-align: left;
      padding: 30px;

    }
    #about  .about-right h1{
      text-align: left;

    }

    /* about section */


    

}




